@fontsize:12px;

.readMeter {
  margin: 10px 0 0 0;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  .vxe-toolbar{
    padding: 0;
    .vxe-button--wrapper{
      .el-select{
        width: 130px;
        margin-right: 10px;
        .el-input{
          width: 100%;
        }
      }
      .el-input{
        width: 160px;
        margin-right: 10px;
      }
      .el-button{
        padding: 9px 10px;
      }
      .el-date-editor{
        margin-right: 10px;
      }
      .uploadFile{
        margin-left: 10px;
      }
      .vxe-input--wrapper{
        width:160px;
        height: 32px;
        margin-right: 10px;
      }
      span {
        margin-right: 10px;
        font-size: 13px;
      }
      .el-button{
        font-size: 13px;
      }

    }
    .vxe-custom--wrapper{
      bottom: -550px;
      .vxe-custom--setting-btn{
        font-size: 15px;
      }
      .vxe-custom--option-wrapper{
        bottom: 40px;
      }
    }
  }
  .vxe-table{
    height: 86%;
    margin-top: 10px;
    width: 100%;
    margin: 10px 0 10px 0 ;

    // .vxe-table--header-wrapper{
    //   height:10%
    // }
    .vxe-table--body-wrapper{
      height: 90%;
    }
    .vxe-table--body-wrapper::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background-color: #F5F5F5;
    }

    .vxe-table--body-wrapper::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      // border-radius: 10px;
      background-color: #F5F5F5;
    }

    .vxe-table--body-wrapper::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: rgb(223, 221, 221);
    }
    .keyword-lighten {
      color: #000;
      background-color: #FFFF00;
    }
  }
  .el-pagination{
    float:left;
    margin-right: 20px;
  }
  .group{
    margin-left: 10px;
  }
  .btn-export{
    margin-right: 55px;
  }
}
// @media screen and (min-width: 1550px) {
//   .readMeter{
//     .vxe-toolbar{
//       .vxe-custom--wrapper{
//           bottom: -575px;
//         }
//       }
//   }
// }

// @media screen and (min-width: 1800px) {
//   .readMeter{
//     .vxe-toolbar{
//       .vxe-custom--wrapper{
//           bottom: -735px;
//         }
//     }
//     .vxe-table{
//       height: 89%;
//       margin: 10px 0 10px 0 ;
//       .vxe-table--body-wrapper{
//         height: 92.5%;
//       }
//     }
//   }
// }
