.region-add .ivu-modal-header .ivu-modal-header-inner {
  font-size: 16px;
  font-weight: 400;
}
.region-add .el-form .el-input {
  width: 80%;
}
.region-add .el-form .vue-treeselect .vue-treeselect__control {
  width: 80% ;
}
.region-add .el-form .vue-treeselect .vue-treeselect__menu-container {
  width: 80%;
}
.region-add .el-form .vue-treeselect .vue-treeselect__menu-container {
  left: 68px;
}
